---
// file: src/components/featured-work.astro
import { Image } from 'astro:assets';
import { fromFeaturedWork } from '../lib/collections';

interface Props {
	featuredWork: {
		title: string;
		summary: string;
	}
}

const { featuredWork } = Astro.props;
const collection = await fromFeaturedWork();
---

<article class="c-featured-work">
	<div class="c-featured-work__wrapper u-flow">
		<div class="c-featured-work__inner u-flow">
			<div class="c-featured-work__intro u-flow">
				<!-- prettier-ignore -->
				<h2 class="c-featured-work__title">{featuredWork.title}</h2>
				<p class="c-featured-work__summary">
					{featuredWork.summary}
				</p>
			</div>
			{
				collection.map(({ slug, data: { title, hero } }) => (
					<a
						href={`/work/${slug}`}
						aria-label={`See ${title}`}
						class="c-featured-work__item"
					>
						<Image
							src={hero.src}
							alt={hero.alt}
						/>
					</a>
				))
			}
		</div>
		<div class="c-featured-work__action">
			<a href="/work" class="c-button">See more work</a>
		</div>
	</div>
</article>
