---
// file: src/components/studio-feed.astro
import { Image } from 'astro:assets';
import { fromStudio, toStudioFeed } from '../lib/collections';

const { studioFeed } = Astro.props;
const feed = toStudioFeed(await fromStudio());
---
{
	feed.length && (
		<article class="c-studio-feed">
			<div class="c-studio-feed__wrapper u-flow">
				{/* prettier-ignore */}
				<h2 class="c-studio-feed__title">{studioFeed.title}</h2>
				<p class="u-visually-hidden" id="studio-feed-desc">
					A collection of images from around our studio and the people who work
					here.
				</p>
				<div>
					<ul class="c-studio-feed__list">
						{feed.map(({ src, alt, width, quality }) => (
							<li>
								<Image
									{src}
									{alt}
									{width}
									{quality}
									draggable="false"
								/>
							</li>
						))}
					</ul>
				</div>
			</div>
		</article>
	)
}
