---
// file: src/layouts/Home.astro
import Base from './Base.astro';
import Cta from '../components/Cta.astro';
import FeaturedWork from '../components/FeaturedWork.astro';
import StudioFeed from '../components/StudioFeed.astro';

const {
	frontmatter: {
		title,
		metaTitle,
		metaDesc,
		intro,
		primaryCTA,
		featuredWork,
		studioFeed,
		summary,
		socialImage,
	},
} = Astro.props;
---

<Base {title} {metaTitle} {metaDesc} {summary} {socialImage}>
	<div class="wrapper">
		<article class="intro">
			<div class="intro__header radius frame">
				<h1 class="intro__heading weight-normal text-400 md:text-600">
					{intro.eyebrow}
					<em class="text-800 md:text-900 lg:text-major weight-bold"
						>{intro.main}</em
					>
				</h1>
			</div>
			<div class="intro__content flow">
				<p class="intro__summary">{intro.summary}</p>
				<a href={intro.buttonUrl} class="button">{intro.buttonText}</a>
			</div>
			<div class="intro__media radius dot-shadow">
				<img
					class="intro__image radius"
					src={intro.image}
					alt={intro.imageAlt}
				/>
			</div>
		</article>
	</div>
	<Cta cta={primaryCTA} />
	<FeaturedWork {featuredWork} />
	<StudioFeed {studioFeed} />
	<Cta />
</Base>
