---
// file: src/layouts/post.astro
import Base from './base.astro';
import PageHeader from '../components/page-header.astro';
import PostList from '../components/post-list.astro';
import Cta from '../components/cta.astro';
import { fromPostsRecommend } from '../lib/collections';
import { formatDateForPost } from '../lib/shame';

interface Props {
	args: {
		slug: string;
		title: string;
		date: Date;
		tags: [tag: string, href: string][];
	};
}

const {
	args: { slug, title, date, tags },
} = Astro.props;

const recommendPosts = await fromPostsRecommend([slug]);
---

<Base title={title}>
	<article>
		<PageHeader title={title}>
			<time datetime={date.toISOString()}>{formatDateForPost(date)}</time>
			{
				tags.length > 0 && (
					<>
						<p class="u-visually-hidden" id="tags-desc">
							Tags that this post has been filed under.
						</p>
						<ul class="c-tag-list" aria-describedby="tags-desc">
							{tags.map(([tag, tagHref]) => (
								<li>
									<a href={tagHref}>{'#' + tag}</a>
								</li>
							))}
						</ul>
					</>
				)
			}
		</PageHeader>
		<div class="c-post-content u-flow">
			<slot />
		</div>
		{
			recommendPosts && recommendPosts.length > 0 && (
				<footer>
					<PostList headline={'More from the blog'} posts={recommendPosts} />
				</footer>
			)
		}
	</article>
	<Cta />
</Base>
