---
// file: src/layouts/work-item.astro
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import Base from './base.astro';
import People from '../components/people.astro';
import Cta from '../components/cta.astro';

interface Props {
	args: {
		title: string;
		summary: string;
		hero: {
			src: ImageMetadata;
			alt: string;
		};
		keyFacts: {
			primary: string;
			secondary: string;
		}[];
		gallery: {
			title: string;
			summary: string;
			image: {
				src: ImageMetadata;
				alt: string;
			};
		}[];
		people: CollectionEntry<'people'>[];
	};
}

const {
	args: { title, summary, hero, keyFacts, gallery, people },
} = Astro.props;
---
<Base title={title}>
	<section>
		<header class="hero">
			<div class="hero__inner wrapper">
				<div
					class="hero__content dot-shadow radius flow bg-dark-dark color-light flow-space-400"
				>
					<!-- prettier-ignore -->
					<h1
					  class="headline measure-compact"
						data-highlight="quinary"
					>{title}</h1>
					<p class="measure-short">{summary}</p>
				</div>
			</div>
				<Image
					class="hero__image"
					src={hero.src}
					alt={hero.alt}
				/>
		</header>
		<article class="key-facts panel dot-shadow bg-primary-dark color-light">
			<div class="wrapper flow">
				<h2 class="headline" data-highlight="secondary">Key facts</h2>
				<div class="leading-flat font-sans weight-bold flow-space-700">
					<ol class="key-facts__list auto-grid">
						{
							keyFacts.map((entry) => (
								<li class="flow flow-space-300">
									<span class="text-700 lg:text-800 color-secondary-light">
										{entry.primary}
									</span>
									<span class="text-600 lg:text-700">{entry.secondary}</span>
								</li>
							))
						}
					</ol>
				</div>
			</div>
		</article>
		<div class="wrapper">
			<article class="gallery flow flow-space-800">
				{
					gallery.map((entry) => (
						<figure class="gallery__item flow">
							<div class="gallery__media frame" data-frame="primary">
								<Image
									class="radius"
									src={entry.image.src}
									alt={entry.image.alt}
									aria-hidden="true"
								/>
							</div>
							<figcaption class="gallery__content flow">
								<h2 class="gallery__heading text-700 md:text-900">
									{entry.title}
								</h2>
								<p class="gallery__summary measure-short flow-space-300">
									{entry.summary}
								</p>
							</figcaption>
						</figure>
					))
				}
			</article>
		</div>
		{
			people.length > 0 && (
				<article class="no-js-hidden panel dot-shadow bg-light-glare">
					<div class="wrapper flow flow-space-700">
						{/* prettier-ignore */}
						<h2 class="headline measure-micro color-quinary" data-highlight="dark">Meet the team behind this project</h2>
						<People people={people} />
					</div>
				</article>
			)
		}
	</section>
	<Cta />
</Base>
