---
// file: src/layouts/work-landing.astro
import { Image } from 'astro:assets';
import Base from './base.astro';
import PageHeader from '../components/page-header.astro';
import Cta from '../components/cta.astro';
import { fromWork } from '../lib/collections';
import { hrefFromWorkSlug } from '../route-path';

import '../styles/work-landing.scss';

interface Props {
	frontmatter: {
		title: string;
	};
}

const {
	frontmatter: { title },
} = Astro.props;

const entries = await fromWork();
---

<Base title={title}>
	<article>
		<PageHeader title={title}>
			<slot />
		</PageHeader>
	</article>
	<div class="c-work-list">
		<div class="c-work-list__wrapper">
			<article class="c-gallery u-flow">
				{
					entries.map(({ slug, data: { hero, title, summary } }) => (
						<figure class="c-gallery__item u-flow">
							<div class="c-gallery__media">
								<Image
									class="u-radius"
									src={hero.src}
									alt={hero.alt}
								/>
							</div>
							<figcaption class="c-gallery__content u-flow">
								<h2 class="c-gallery__heading">{title}</h2>
								<p class="c-gallery__summary">
									{summary}
								</p>
								<a href={hrefFromWorkSlug(slug)} class="c-button">
									See this work
								</a>
							</figcaption>
						</figure>
					))
				}
			</article>
		</div>
	</div>
	<Cta />
</Base>
