---
// file: src/layouts/WorkLanding.astro
import Base from './Base.astro';
import Image from '../components/Image.astro';
import PageHeader from '../components/PageHeader.astro';
import Cta from '../components/Cta.astro';
import { fromWork } from '../lib/collections';
import { hrefFromWorkSlug } from '../route-path';

interface Props {
	frontmatter: {
		title: string;
	};
}

const {
	frontmatter: { title },
} = Astro.props;

const entries = await fromWork();
---

<Base title={title}>
	<article>
		<PageHeader title={title}>
			<slot />
		</PageHeader>
	</article>
	<div class="panel dot-shadow bg-tertiary-light">
		<div class="wrapper">
			<article class="gallery flow flow-space-800">
				{
					entries.map(({ slug, data: { hero, title, summary } }) => (
						<figure class="gallery__item flow">
							<div class="gallery__media frame" data-frame="primary">
								<Image
									class="radius"
									src={hero.src}
									alt={hero.alt}
									width={hero.width}
									height={hero.height}
								/>
							</div>
							<figcaption class="gallery__content flow">
								<h2 class="gallery__heading text-700 md:text-900">{title}</h2>
								<p class="gallery__summary measure-short flow-space-300">
									{summary}
								</p>
								<a href={hrefFromWorkSlug(slug)} class="button">
									See this work
								</a>
							</figcaption>
						</figure>
					))
				}
			</article>
		</div>
	</div>
	<Cta />
</Base>
