---
// file: src/layouts/work-item.astro
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import Base from './base.astro';
import PeoplePanel from '../components/people-panel.astro';
import Cta from '../components/cta.astro';

interface Props {
	args: {
		title: string;
		summary: string;
		hero: {
			src: ImageMetadata;
			alt: string;
		};
		keyFacts: {
			primary: string;
			secondary: string;
		}[];
		gallery: {
			title: string;
			summary: string;
			image: {
				src: ImageMetadata;
				alt: string;
			};
		}[];
		people: CollectionEntry<'people'>[];
	};
}

const {
	args: { title, summary, hero, keyFacts, gallery, people },
} = Astro.props;
---
<Base title={title}>
	<section>
		<header class="hero">
			<div class="hero__inner wrapper">
				<div
					class="hero__content dot-shadow radius flow bg-dark-dark color-light flow-space-400"
				>
					<!-- prettier-ignore -->
					<h1
					  class="headline measure-compact"
						data-highlight="quinary"
					>{title}</h1>
					<p class="measure-short">{summary}</p>
				</div>
			</div>
				<Image
					class="hero__image"
					src={hero.src}
					alt={hero.alt}
				/>
		</header>
		<article class="key-facts panel dot-shadow bg-primary-dark color-light">
			<div class="wrapper flow">
				<h2 class="headline" data-highlight="secondary">Key facts</h2>
				<div class="leading-flat font-sans weight-bold flow-space-700">
					<ol class="key-facts__list auto-grid">
						{
							keyFacts.map((entry) => (
								<li class="flow flow-space-300">
									<span class="text-700 lg:text-800 color-secondary-light">
										{entry.primary}
									</span>
									<span class="text-600 lg:text-700">{entry.secondary}</span>
								</li>
							))
						}
					</ol>
				</div>
			</div>
		</article>
		<div class="wrapper">
			<article class="c-gallery u-flow">
				{
					gallery.map((entry) => (
						<figure class="c-gallery__item u-flow">
							<div class="c-gallery__media">
								<Image
									class="u-radius"
									src={entry.image.src}
									alt={entry.image.alt}
									aria-hidden="true"
								/>
							</div>
							<figcaption class="c-gallery__content u-flow">
								<h2 class="c-gallery__heading">
									{entry.title}
								</h2>
								<p class="c-gallery__summary">
									{entry.summary}
								</p>
							</figcaption>
						</figure>
					))
				}
			</article>
		</div>
		<PeoplePanel title={'Meet the team behind this project'} {people} />
	</section>
	<Cta />
</Base>
