---
// file: src/layouts/work-item.astro
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import Base from './base.astro';
import PeoplePanel from '../components/people-panel.astro';
import Cta from '../components/cta.astro';

import '../styles/work-item.scss';

interface Props {
	args: {
		title: string;
		summary: string;
		hero: {
			src: ImageMetadata;
			alt: string;
		};
		keyFacts: {
			primary: string;
			secondary: string;
		}[];
		gallery: {
			title: string;
			summary: string;
			image: {
				src: ImageMetadata;
				alt: string;
			};
		}[];
		people: CollectionEntry<'people'>[];
	};
}

const {
	args: { title, summary, hero, keyFacts, gallery, people },
} = Astro.props;
---
<Base title={title}>
	<section>
		<header class="c-hero">
			<div class="c-hero__inner">
				<div class="c-hero__content u-flow">
					<!-- prettier-ignore -->
					<h1>{title}</h1>
					<p>{summary}</p>
				</div>
			</div>
				<Image
					class="c-hero__image"
					src={hero.src}
					alt={hero.alt}
				/>
		</header>
		<article class="c-facts-panel">
			<div class="c-facts-panel__wrapper u-flow">
				<h2>Key facts</h2>
				<div>
					<ol class="c-facts-panel__list">
						{
							keyFacts.map((entry) => (
								<li class="c-facts-panel__item u-flow">
									<span class="c-facts-panel__value">
										{entry.primary}
									</span>
									<span class="c-facts-panel__fact">{entry.secondary}</span>
								</li>
							))
						}
					</ol>
				</div>
			</div>
		</article>
		<div class="u-wrapper">
			<article class="c-gallery u-flow">
				{
					gallery.map((entry) => (
						<figure class="c-gallery__item u-flow">
							<div class="c-gallery__media">
								<Image
									class="u-radius"
									src={entry.image.src}
									alt={entry.image.alt}
									aria-hidden="true"
								/>
							</div>
							<figcaption class="c-gallery__content u-flow">
								<h2 class="c-gallery__heading">
									{entry.title}
								</h2>
								<p class="c-gallery__summary">
									{entry.summary}
								</p>
							</figcaption>
						</figure>
					))
				}
			</article>
		</div>
		<PeoplePanel title={'Meet the team behind this project'} {people} />
	</section>
	<Cta />
</Base>
